# Set default behavior to automatically normalize line endings
* text=auto

# CSV files should use LF
*.csv text eol=lf

# Python files should use LF
*.py text eol=lf

# SQL files should use LF
*.sql text eol=lf